In [1]:
from administration.models import (Customer, Service)
from reservation.models import Reservation

In [2]:
Reservation.objects.all().delete()
Customer.objects.all().delete()
Service.objects.all().delete()

(4, {'reservation.Reservation': 0, 'administration.Service': 4})

In [3]:
c1 = Customer.objects.create(first_name="Haibo", last_name="Yan", gender='Male', email='haibo.yan@cgu.edu', tel='(925)351-5817')

In [4]:
c1.save()

In [5]:
c2 = Customer.objects.all()[0]

In [6]:
c1 == c2

True

In [7]:
type(Customer.objects.all())

django.db.models.query.QuerySet

In [8]:
Customer.objects.bulk_create([
    Customer(first_name="Karen", last_name="Snow", gender='Female', email='karen.snow@cgu.edu', tel='(661)203-7322'),
    Customer(first_name="Okechukwu", last_name="Ugwuanyi", gender='Male', email='okechukwu.ugwuanyi@cgu.edu', tel='(333)828-3880'),
    Customer(first_name="Leslie", last_name="Bienenfeld", gender='Female', email='leslie.bienenfeld@cgu.edu', tel='(221)323-8320'),
    Customer(first_name="Lade", last_name="Johnson", gender='Female', email='lade.johnson@cgu.edu', tel='(556)741-2231'),
    Customer(first_name="Stephen", last_name="Davison", gender='Male', email='stephen.davison@cgu.edu', tel='(441)323-8320')
])

[<Customer: Customer id: None, name: Karen Snow, sex: Female, True>,
 <Customer: Customer id: None, name: Okechukwu Ugwuanyi, sex: Male, True>,
 <Customer: Customer id: None, name: Leslie Bienenfeld, sex: Female, True>,
 <Customer: Customer id: None, name: Lade Johnson, sex: Female, True>,
 <Customer: Customer id: None, name: Stephen Davison, sex: Male, True>]

In [9]:
c3 = Customer.objects.all()[3]

In [10]:
c3

In [11]:
print(c3)

Customer id: 42, name: Leslie Bienenfeld, sex: Female, True

In [12]:
Customer.objects.all().count()

6

In [13]:
males = Customer.objects.filter(gender='Male')

In [14]:
okey = Customer.objects.get(first_name='Okechukwu') #get only allow one row

In [15]:
females = Customer.objects.order_by('last_name').filter(gender='Female')

In [16]:
print(females)

<QuerySet [<Customer: Customer id: 42, name: Leslie Bienenfeld, sex: Female, True>, <Customer: Customer id: 43, name: Lade Johnson, sex: Female, True>, <Customer: Customer id: 40, name: Karen Snow, sex: Female, True>]>

In [17]:
females_rev = Customer.objects.filter(gender='Female').order_by('-last_name')

In [18]:
print(females_rev)

<QuerySet [<Customer: Customer id: 40, name: Karen Snow, sex: Female, True>, <Customer: Customer id: 43, name: Lade Johnson, sex: Female, True>, <Customer: Customer id: 42, name: Leslie Bienenfeld, sex: Female, True>]>

In [19]:
Customer.objects.values_list("first_name", "last_name")

In [20]:
old_customer = Customer.objects.create(first_name="Sarah", last_name="Brightman", gender='Female', active=False, email='sarah.brightman@artist.com', tel='11111111')

In [21]:
old_customer.save()

In [22]:
Customer.objects.all().count()

7

In [23]:
Customer.actives.count()

6

In [24]:
print(Customer.objects.all())

<QuerySet [<Customer: Customer id: 39, name: Haibo Yan, sex: Male, True>, <Customer: Customer id: 40, name: Karen Snow, sex: Female, True>, <Customer: Customer id: 41, name: Okechukwu Ugwuanyi, sex: Male, True>, <Customer: Customer id: 42, name: Leslie Bienenfeld, sex: Female, True>, <Customer: Customer id: 43, name: Lade Johnson, sex: Female, True>, <Customer: Customer id: 44, name: Stephen Davison, sex: Male, True>, <Customer: Customer id: 45, name: Sarah Brightman, sex: Female, False>]>

In [25]:
print(Customer.actives.all())

<QuerySet [<Customer: Customer id: 39, name: Haibo Yan, sex: Male, True>, <Customer: Customer id: 40, name: Karen Snow, sex: Female, True>, <Customer: Customer id: 41, name: Okechukwu Ugwuanyi, sex: Male, True>, <Customer: Customer id: 42, name: Leslie Bienenfeld, sex: Female, True>, <Customer: Customer id: 43, name: Lade Johnson, sex: Female, True>, <Customer: Customer id: 44, name: Stephen Davison, sex: Male, True>]>

In [26]:

s1 = Service.objects.create(name='Mineral baths', description='Mineral baths', time_type='30, 60', rate=2.50, limit=65535)

In [27]:
s1.save()

In [28]:
Service.objects.bulk_create([
    Service(name='Massage services', description='Swedish, shiatsu, or deep tissue', time_type='30, 60', rate=3.00, limit=1),
    Service(name='Facial services', description='normal or collagen', time_type='30, 60', rate=2.00, limit=1),
    Service(name='Specialty treatment services', description='hot stone, sugar scrub, herbal body wrap, or botanical mud wrap', time_type='60, 90', rate=3.50, limit=1)
])

[<Service: name: Massage services
  description: Swedish, shiatsu, or deep tissue
  time_type: 30, 60 rate: 3.0 limit: 1>, <Service: name: Facial services
  description: normal or collagen
  time_type: 30, 60 rate: 2.0 limit: 1>, <Service: name: Specialty treatment services
  description: hot stone, sugar scrub, herbal body wrap, or botanical mud wrap
  time_type: 60, 90 rate: 3.5 limit: 1>]

In [29]:
Service.objects.all().count()

4

In [30]:
s = list(Service.objects.all())

In [31]:
s

[<Service: name: Mineral baths
  description: Mineral baths
  time_type: 30, 60 rate: 2.50 limit: 65535>, <Service: name: Massage services
  description: Swedish, shiatsu, or deep tissue
  time_type: 30, 60 rate: 3.00 limit: 1>, <Service: name: Facial services
  description: normal or collagen
  time_type: 30, 60 rate: 2.00 limit: 1>, <Service: name: Specialty treatment services
  description: hot stone, sugar scrub, herbal body wrap, or botanical mud wrap
  time_type: 60, 90 rate: 3.50 limit: 1>]

In [32]:
from datetime import (date, time)
day320 = date(year = 2019, month = 3, day = 29)
day321 = date(year = 2019, month = 3, day = 21)
day322 = date(year = 2019, month = 3, day = 22)
day323 = date(year = 2019, month = 3, day = 23)
day331 = date(year = 2019, month = 3, day = 31)
day401 = date(year = 2019, month = 4, day = 1)
day402 = date(year = 2019, month = 4, day = 2)
day403 = date(year = 2019, month = 4, day = 3)
day404 = date(year = 2019, month = 4, day = 4)
day405 = date(year = 2019, month = 4, day = 5)
day406 = date(year = 2019, month = 4, day = 6)
day407 = date(year = 2019, month = 4, day = 7)
day408 = date(year = 2019, month = 4, day = 8)
day409 = date(year = 2019, month = 4, day = 8)
day410 = date(year = 2019, month = 4, day = 10)
day411 = date(year = 2019, month = 4, day = 11)
day412 = date(year = 2019, month = 4, day = 12)
time0800=time(hour=8, minute=0)
time0830=time(hour=8, minute=30)
time0800=time(hour=8, minute=0)
time0900=time(hour=9, minute=0)
time0930=time(hour=9, minute=30)
time1000=time(hour=10, minute=0)
time1030=time(hour=10, minute=30)
time1100=time(hour=11, minute=0)
time1130=time(hour=11, minute=30)
time1200=time(hour=12, minute=0)
time1230=time(hour=12, minute=30)
time1300=time(hour=13, minute=0)
time1330=time(hour=13, minute=30)
time1400=time(hour=14, minute=0)
time1430=time(hour=14, minute=30)
time1500=time(hour=15, minute=0)
time1530=time(hour=15, minute=30)
time1600=time(hour=16, minute=0)
time1630=time(hour=16, minute=30)
time1700=time(hour=17, minute=0)
time1730=time(hour=17, minute=30)
time1800=time(hour=18, minute=0)
time1830=time(hour=18, minute=30)
time1900=time(hour=19, minute=0)
time1930=time(hour=19, minute=30)
time2000=time(hour=20, minute=0)
haibo = Customer.objects.get(first_name='Haibo')
leslie = Customer.objects.get(first_name='Leslie')
stephen = Customer.objects.get(first_name='Stephen')
karen = Customer.objects.get(first_name='Karen')
lade = Customer.objects.get(first_name='Lade')
s2 = Service.objects.get(name='Massage services')
s3 = Service.objects.get(name='Facial services')
s4 = Service.objects.get(name='Specialty treatment services')

In [33]:
r1 = Reservation.objects.create(customer = okey, date = day320, start_time=time1330, end_time=time1430, reservation_service = s4, status='C')
r2 = Reservation.objects.create(customer = lade, date = day321, start_time=time0800, end_time=time0900, reservation_service = s1, status='N')
r3 = Reservation.objects.create(customer = stephen, date = day322, start_time=time1430, end_time=time1530, reservation_service = s2, status='N')
r4 = Reservation.objects.create(customer = leslie, date = day323, start_time=time1730, end_time=time1830, reservation_service = s3, status='N')
r5 = Reservation.objects.create(customer = karen, date = day331, start_time=time1900, end_time=time2000, reservation_service = s1, status='N')

In [34]:
r1.save()
r2.save()
r3.save()
r4.save()
r5.save()

In [35]:
Reservation.objects.bulk_create([
Reservation(customer = haibo, date = day401, start_time=time1400, end_time=time1500, reservation_service = s1, status='N'),     
Reservation(customer = lade, date = day401, start_time=time1200, end_time=time1330, reservation_service = s1, status='N'),     
Reservation(customer = okey, date = day401, start_time=time1700, end_time=time1900, reservation_service = s4, status='N'),    
Reservation(customer = stephen, date = day401, start_time=time0900, end_time=time1030, reservation_service = s2, status='N'),   
Reservation(customer = leslie, date = day402, start_time=time0900, end_time=time1030, reservation_service = s2, status='N'),    
Reservation(customer = karen, date = day402, start_time=time1900, end_time=time2000, reservation_service = s3, status='N'),    
Reservation(customer = haibo, date = day402, start_time=time1730, end_time=time1900, reservation_service = s3, status='N'),    
Reservation(customer = lade, date = day402, start_time=time1030, end_time=time1200, reservation_service = s2, status='N'),    
Reservation(customer = okey, date = day402, start_time=time1200, end_time=time1300, reservation_service = s4),    
Reservation(customer = stephen, date = day403, start_time=time0800, end_time=time0830, reservation_service = s1, status='N'),    
Reservation(customer = leslie, date = day403, start_time=time1200, end_time=time1330, reservation_service = s1, status='N'),    
Reservation(customer = karen, date = day403, start_time=time1400, end_time=time1500, reservation_service = s1, status='N'),    
Reservation(customer = haibo, date = day404, start_time=time0900, end_time=time1000, reservation_service = s4, status='N'),    
Reservation(customer = lade, date = day404, start_time=time1000, end_time=time1030, reservation_service = s1, status='N'),    
Reservation(customer = okey, date = day404, start_time=time1030, end_time=time1100, reservation_service = s1, status='N'),    
Reservation(customer = stephen, date = day404, start_time=time1500, end_time=time1530, reservation_service = s1, status='N'),    
Reservation(customer = leslie, date = day404, start_time=time1900, end_time=time2000, reservation_service = s1, status='N'),    
Reservation(customer = karen, date = day405, start_time=time1500, end_time=time1600, reservation_service = s3, status='N') ,    
Reservation(customer = haibo, date = day406, start_time=time1200, end_time=time1300, reservation_service = s2, status='N') ,    
Reservation(customer = lade, date = day407, start_time=time1400, end_time=time1500, reservation_service = s3, status='N')          
])

[<Reservation: Reservation object (None)>,
 <Reservation: Reservation object (None)>,
 <Reservation: Reservation object (None)>,
 <Reservation: Reservation object (None)>,
 <Reservation: Reservation object (None)>,
 <Reservation: Reservation object (None)>,
 <Reservation: Reservation object (None)>,
 <Reservation: Reservation object (None)>,
 <Reservation: Reservation object (None)>,
 <Reservation: Reservation object (None)>,
 <Reservation: Reservation object (None)>,
 <Reservation: Reservation object (None)>,
 <Reservation: Reservation object (None)>,
 <Reservation: Reservation object (None)>,
 <Reservation: Reservation object (None)>,
 <Reservation: Reservation object (None)>,
 <Reservation: Reservation object (None)>,
 <Reservation: Reservation object (None)>,
 <Reservation: Reservation object (None)>,
 <Reservation: Reservation object (None)>]